
body{
        margin: 0;
        padding: 0;
    }
    
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 16%;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

li a {
  display: block;
  color: #000;
  padding: 8px 25px;   
  text-decoration: none;
  font-family: "Trebuchet MS";
  
}

li a.active {
  background-color: #555;
  color: white;
}

li a:hover:not(.active) {
  background-color: silver;
  color: white;
}

    .menu-list{
        padding-top:0px;
    }
    
#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 70%;
  margin-left: 16%;
    line-height: 1.2;
  font-weight: unset;
}

#customers td, #customers th {
  border: 0px solid #ddd;
  padding: 8px;
}

th {
  position: sticky;
  top: 0; 
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 17px;
  padding-bottom: 17px;
  text-align: left;
  background-color:darkgrey;
  color: black;
font-size: 18px;
}
